<h1>Footer</h1>

{% load staticfiles %}

<!-- build:js scripts/vendor.js -->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'angular/angular.min.js' %}"></script>
  <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
  <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'underscore/underscore-min.js' %}"></script>
<!-- endbuild -->

<!-- build:js scripts/ui.js -->
  <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
  <script src="{% static 'jquery-spinner/dist/jquery.spinner.min.js' %}"></script>
  <script src="{% static 'seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
  <script src="{% static 'jquery-steps/build/jquery.steps.min.js' %}"></script>
  <script src="{% static 'toastr/toastr.min.js' %}"></script>
  <script src="{% static 'bootstrap-file-input/bootstrap.file-input.js' %}"></script>
  <script src="{% static 'jquery.slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'holderjs/holder.js' %}"></script>
  <script src="{% static 'raphael/raphael-min.js' %}"></script>
  <script src="{% static 'morris.js/morris.js' %}"></script>
  <script src="{% static 'flot/jquery.flot.js' %}"></script>
  <script src="{% static 'flot/jquery.flot.resize.js' %}"></script>
  <script src="{% static 'flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'flot/jquery.flot.stack.js' %}"></script>
  <script src="{% static 'flot/jquery.flot.time.js' %}"></script>
  <script src="{% static 'gauge.js/dist/gauge.min.js' %}"></script>
  <script src="{% static 'jquery.easy-pie-chart/dist/angular.easypiechart.min.js' %}"></script>
  <script src="{% static 'angular-wizard/dist/angular-wizard.min.js' %}"></script>
  <script src="{% static 'vendor/responsive-tables.js' %}"></script>
  <script src="{% static 'vendor/jquery.sparkline.min.js' %}"></script>
<!-- endbuild -->
